body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.main{
  margin: 0 auto;
  margin-top: 30px;
  width: 400px;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}
.flex-between{
  display: flex;
  justify-content:space-between;
}
.add-input {
  width: 392px;
  margin: 8px!important;
}
.register-link{
   margin: 12px;
}
.header-title{
   margin: 10px;
}
.m10{
   margin: 10px;
}

